<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- Bootstrap CSS -->
    <!-- Use some bootstrap CSS and google fonts to quicken the process -->
    <!-- you shall also add a favicon -->
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/office/16/000000/sunset--v2.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    
    <h2 class="logInH">Please choose a new location</h2>
<!-- Main container -->
    <div class="container">

    <!-- This shall hold the input fields and the output data -->
    <fieldset>
      <!-- This form shall be used to fetch your city name -->
      <form action="/" method="post">
        <input name="city" type="text" class="ghost-input" style="text-align: center;" placeholder="Enter a City" required>
         <input type="submit" class="ghost-button" value="Change location"> 
      </form>
    <br>
    <div class="buttons">
    <a href="/DisplayAlarm"><button class="niceIncommingAlarmsButton">See Incomming Alarms</button></a>
    <a href="/WeatherForecast"><button class="niceForecastButton">See Incomming Weather</button></a>
    <a href="/HistoricalData"><button class="niceHistoricalButton">See Historical Data</button></a>
    </div>   
  </fieldset>
  </body>
</html>