<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DisplayForAlarms</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <!-- Use some bootstrap CSS and google fonts  -->
  
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/office/16/000000/sunset--v2.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Main container -->
    <h3 class="DisplayH">Incomming Alarms</h3>
   
    <div class="container">  
            <fieldset>
              
                
        <div class="card-deck">


           <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
             <div class="card-header">Hot Temperature Alert</div>
             <div class="card-body text-dark">
             <h5 class="card-title">Alarm:</h5>
             <p class="card-text"><%= hotAlarmMessage  %></p>
             </div>
            </div>
                            

            <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Cold Temperature Alert</div>
                <div class="card-body text-dark">
                <h5 class="card-title">Alarm:</h5>
                <p class="card-text"><%= coldAlarmMessage  %></p>
                </div>              
             </div>
                        
                        

             <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header">Precipitatio Temperature Alert</div>
                      <div class="card-body text-dark">
                      <h5 class="card-title">Alarm:</h5>
                      <p class="card-text"><%= precipitationAlarmMessage  %></p>
             </div>
             </div>
                          
        </div>
     </fieldset>
    <a href="/"><button>Home</button></a>
    <a href="/WeatherForecast"><button>See Incomming Weather</button></a>
    <a href="/HistoricalData"><button>See Historical Data</button></a>
     </div>

  </body>

</html>