<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<div class=".loginElement">
			<div class="login-form">
				<h2 class="logInH">Please sign in to change the location</h2>
				<form action="/auth" method="POST">
					<input type="text" class="loginInput"name="username" placeholder="Username" required>
					<input type="password" class="loginInput" name="password" placeholder="Password" required>
					<input  type="submit" class="send">
				</form>
				

				<a href="/"><button class="niceButton">Go Back</button></a>
				<br><br>
			</div>
			
		</div>
	</body>
</html>