<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather Forecast</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <!-- Use some bootstrap CSS and google fonts  -->
  
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/office/16/000000/sunset--v2.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Main container -->
    <h3 class="DisplayH" style="padding-bottom:15px;">Weather Forecast For Seven Days</h3>
   
    <div class="container">  
            <fieldset>
              
                
        <div class="card-deck">

          <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Minimum Temperature</div>
            <div class="card-body text-dark">
            <h5 class="card-title"> Next Week:</h5>
            <ul>
              
            </ul>
            </div>              
         </div>
           
                            

            <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Maximum Temperature</div>
                <div class="card-body text-dark">
                <h5 class="card-title"> Next Week:</h5>
                <ul>
                  <% for (var i = 0; i < maxTemperatures.length; i++) { %>
                 <p><li><%= maxTemperatures[i] %> °C </li></p> 
                  <% } %>
                </ul>
                </div>              
             </div>
                        
                        

             <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header">Wind Speed</div>
                      <div class="card-body text-dark">
                      <h5 class="card-title">Average for seven days</h5>
                      <p class="card-text"><!--<%=   %> --></p>
                       </div>
               </div>


               <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Wind Direction</div>
                <div class="card-body text-dark">
                <h5 class="card-title">Direction seven days:</h5>
                <p class="card-text"> <!-- <%=   %> --></p>
                </div>              
             </div>
                          
        </div>
     </fieldset>
    <a href="/"><button>Home</button></a>
    <a href="/DisplayAlarm"><button>See Incomming Alarms</button></a>
    
     </div>

  </body>

</html>